body{
	text-transform: uppercase;
	background-image: url("black_scales.png");
}

#text{
	width: 50%;
	overflow: auto;
	text-align: center;
	background-color: #4f4f4f;
	color: white;
}

tr{
	color: white;
	background-color: #000000;
}

tr:nth-child(even){
	background-color: #4f4f4f;
}

th{
	background-color: #c52525;
	color: white;
	font-family: 'Roboto', sans-serif;
	padding: 8px;
}
tr:hover{
	background-color: #7a7a7a;
}

#secretButton{
	background-color: #c52525;
	color: white;
}
#secretButton:hover{
	background-color:#a32020;
}
select{
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	color: white;
	background-color: #4f4f4f;
}
select:hover{
	background-color: #7a7a7a;
}